.Ventas {
    width: 100%;
}

.Ventas_Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Ventas_Header h1 {
    font-size: 2.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text-primario);
    position: relative;
    z-index: 10;
}

.Ventas_Header h1 span {
    background: var(--Gradient, linear-gradient(100deg, var(--text-primario) 37.82%, var(--text-terciario) 87.12%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.Ventas_Header_Navegacion {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Ventas_Header_Navegacion a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Barlow Condensed", sans-serif;
    color: var(--text-cuaternario);
}

.Ventas_Header_Navegacion .Seleccionado {
    text-decoration: none;
    font-size: 15px;
    font-family: "Barlow Condensed", sans-serif;
    color: var(--text-terciario);
    font-weight: 600;
}

.Ventas_Header_Navegacion .Icono {
    font-size: 12px;
    color: var(--text-cuaternario);
}

.Ventas_Texto {
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text-undecimo);
}

.Ventas_Button {
    width: 200px;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    background-color: var(--btn-bg-boton);
    color: var(--text-primario);
    padding: 5px;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.AddVentas {
    width: 100%;
}


.AddVentas_Header {
    width: 100%;
    margin-bottom: 40px;
}


.AddVentas_Header button {
    width: 150px;
    font-size: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    background-color: var(--bg-undecimo);
    color: var(--text-primario);
    padding: 5px;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.AddVentas_Header p {
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text-undecimo);
}

.Formulario_Dos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.Formulario_Dos div {
    width: 100%;
}

.Formulario_Boton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Formulario_Boton button {
    width: 150px;
    font-size: 19px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    background-color: var(--btn-bg-boton);
    color: var(--text-primario);
    padding: 10px;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
    border: none;
    outline: none;
}